.bcg-team {
    background: #F5F4FA;
}

.employees {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.team-card {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
    background: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card-content-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
}

.name-team {
    @include font(500, 16px, 1.19, 0.03em);
    text-align: center;
    margin-bottom: 10px;
}

.position-team {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}